body{
    background-color: rgb(127, 255, 249);
}

h1{
    color: rgb(2, 32, 200);
    margin-left: 30px;
}

h2{
    text-align: center;
    color: rgb(4, 156, 250);
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.item img{
    width: 400px;
    height: 400px;
}

p {
    text-align: center;
    color: rgb(135, 183, 250)
}

.menu{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}

a:link {
    color: white;
}

a:visited {
    color: whitesmoke;
}

a {
    text-decoration: none;
}